body{
    background-color: lightgray;
}
.h1beers{
    position: center;
    font-size: 80px;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.headerclass{
    position: absolute;
    background-color: lightgreen;
    box-shadow: 0px 8px 16px 0px lime;
}
.mainSection{
    padding-top: 120px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgreen;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  p, span{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
  }
  span{
    border: dotted blueviolet;
  }
